header{
    background: url(imagenes/Estrellas.png);
    padding: 30px;

}

h1{
    font-family: 'Lobster Two', cursive;
    font-size: 70px;
    color: white;
    padding: 40px 50px 0px;
    margin: 0 0 0 30%;
}

.imgnotas{
    width: 160px;
    padding-left: 170px;
    position: absolute;
    display: inline;
}


.iconos i {
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
}

.botones{
    font-variant: small-caps;
    border: 2px solid #000000; /*anchura, estilo y color borde*/
    padding: 4px 8px 4px 8px; /*espacio alrededor texto*/
    background-color: #ffffff; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
}

.Letra-chiquita{
    font-family: 'Urbanist', sans-serif;
    font-size: 12px;
    color: #0DA2FC;
    position: absolute;
    padding-left: 35%;
    padding-top: 45px;
}

.Fuente{
    font-family: 'Montserrat Alternates', sans-serif;}


main{

    color: white;
    background: url(imagenes/Estrellas.png);
<<<<<<<<< Temporary merge branch 1
    padding-inline-start: 120px;
    padding-block-end: 150px;
=========
    padding-inline-start: 30px;
    padding-inline-end: 10px;
>>>>>>>>> Temporary merge branch 2
}

.contenedor{
/* Borde blanco
    max-width: 680px;
    width: 100%;
    padding: 50px;
    background: #fff;
    border-radius: 10px;
*/    
    max-width: 100%;
    width: 90%;
    padding: 20px;
    padding-left: 5%;   
}

textarea{
    background: #000000b5;
    color: #fff;
    height: 250px;
    height: 250px;
    width: 48%;
    resize: none;
  
}
.controles {
    display: flex;
    justify-content: space-around;
    background-color: #a3272700;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
   

/* .boton-ejecutar{
    background: #494949;
    cursor: pointer;
    border: none;
    padding: 26px 2px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 14px;
    text-align: center;
    margin: 5%;
    font-family: 'Montserrat Alternates', sans-serif;
} */

.boton-ejecutar{
    border: 50%;
    border-radius: 25px;
    color: #fff;
    display: flex ;
    font-size: 18px;
<<<<<<<<< Temporary merge branch 1
    padding-left: 45%;
    padding-top: 40px;
    cursor: pointer;
=========
    padding-left: 43%;
    padding-top: 40px;
    cursor: pointer;
    padding-bottom: 2%;
>>>>>>>>> Temporary merge branch 2
}

input{
    background-color: #0DA2FC;
    padding: 18px 34px;
    border-radius: 12px;
    border: none;
}

<<<<<<<<< Temporary merge branch 1


@media screen and (max-width: 390px){
    header{
         width: 100%;
    }
    h2{
        font-family: 'Roboto Mono', monospace;
        padding-left:0px;
=========
footer{
    border-style: solid;
    border-top: 0%;
    border-width: 1px 35px 35px 35px;
} 
.Copyright {
    
    color: #0DA2FC;
    padding: 2%;
    padding-left: 450px;
}

.Iconos-footer {
    display: flex;
    justify-content: flex-end;
}

.list-inline {
    display: flex;
    list-style: none;
    padding-left: 40%;
}

.list-inline-item {
    margin-left: 20px;
}

.Iconos-footer {
    display: inline;
    flex-direction: row;
    margin: 10%;
}
.github, .twitter, .linkedin, .tiktok{
    margin: 1%;
    padding: 30px 10px 10px 20px;
}

/* Aqui empieza la edicion responsiva de celulares */

@media screen and (max-width: 900px){
    
    header{
         width: 100%;
    }
    h1{
        font-size: 3em;
        width: 80%;
        font-family: 'Roboto Mono', monospace;
        padding-left:0px;
        position: relative;
>>>>>>>>> Temporary merge branch 2
    }
    main{
    width: 100%;
    padding-inline-start: 40px;
<<<<<<<<< Temporary merge branch 1
}
        
    
    .imgnotas{
        width: 20%;
        padding-inline-start: 1px;
        position: absolute;
        padding-top: 46%;
        padding-left: 50%;
    }


    div{
      width: 20%;
    padding-inline-start: 1px;
    position: initial;
    }

    textarea{
         
    width: 20%;
    padding: 10%;
    padding-bottom: 0;     
    padding-top: 0;
    border-radius: 15px; 
    }

    .controles {
    display: inline;
        padding: 50px;
        margin: 30px;
<<<<<<<<< Temporary merge branch 1
=========
        
    }
    .controles label{
        width: 2px;
>>>>>>>>> Temporary merge branch 2
    }
    .iconos{
        width: 80%;
    padding: 10%;
    padding-bottom: 20px;     
    padding-top: 20px;
   
    }
    .boton-ejecutar{
        padding-left: 120px;
    }
}
