header{
    background: url(Estrellas.png);
    padding: 30px;
    padding: 30px 10px 50px;
}

.imgnotas{
    width: 160px;
    padding-left: 170px;
    position: absolute;
}


.iconos i {
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
}

.botones{
    font-variant: small-caps;
    border: 2px solid #000000; /*anchura, estilo y color borde*/
    padding: 4px 8px 4px 8px; /*espacio alrededor texto*/
    background-color: #ffffff; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
}

p{
    font-family: 'Urbanist', sans-serif;
    font-size: 10px;
    color: white;
    position: absolute;
    padding-left: 40%;
}

.Fuente{
    font-family: 'Montserrat Alternates', sans-serif;}

h2{
    font-family: 'Lobster Two', cursive;
    font-size: 70px;
    color: white;
    padding: 40px 50px 70px;
    margin: 0 0 0 30%;
}

main{
   
    color: white;
    background: url(Estrellas.png);
    padding-inline-start: 120px;
    padding-block-end: 150px;
}

.contenedor{
/* Borde blanco
    max-width: 680px;
    width: 100%;
    padding: 50px;
    background: #fff;
    border-radius: 10px;
*/    
    max-width: 100%;
    width: 1100px;
    padding: 20px;   
}

textarea{
    background: #000000b5;
    color: #fff;
    font-weight: ;
    height: 250px;
    height: 250px;
    width: 48%;
    resize: none;
  
}
.controles {
    display: flex;
    justify-content: space-around;
    background-color: #a3272700;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
   

.boton-ejecutar{
    background: #494949;
    cursor: pointer;
    border: none;
    padding: 26px 32px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 12px;
    text-align: center;
    margin-left: 45%;
    font-family: 'Montserrat Alternates', sans-serif;
}

/* por completar

@media screen and (max-width: 480px){
    header{
        text-align: center;
        width: 70%;
    }
    p, h2, main, textarea{
        position: static;
        width: 50%;
    }
    .iconos, .botones, .Fuente, .contenedor{
        width: auto;
    }
    .diferenciales-list, .imagenDiferenciales{
        width: 100%;
    }
} 
